@using Blazored.LocalStorage
@using Microsoft.AspNetCore.Components.Authorization
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>


@code {
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        // Optional: pre-check token in local storage for auth state
        var token = await LocalStorage.GetItemAsync<string>("authToken");
        isLoading = false;
    }

    [Inject] private ILocalStorageService LocalStorage { get; set; }
}